<%- include('header.ejs') %>

    <main>
      <section class="individual">
        <ul class="tag-list">
          <% distinctTags.forEach(tag => { %>
          <li><a href="/?tags=<%= tag %>"><%= tag %></a></li>
          <% }); %>
        </ul>
      </section>
    </main>

<%- include('footer.ejs') %>